In [3]:
from tickers import tickers
import pandas as pd

In [5]:
df = pd.read_csv("backup.csv")
df.head(10)

  class_A class_B
0   ARTNA   ARTNB
1   BELFA   BELFB
2   BRK.A   BRK.B
3     BIO   BIO.B
4    BF.A    BF.B
5     STZ   STZ.B
6    FOXA     FOX
7     GEF   GEF.B
8     LEN   LEN.B

In [7]:
test = tickers()
df = test.getStock()

test.updateValues()

df.head()

del df["json_A"]
del df["json_B"]
del df["API_path_A"]
del df["API_path_B"]

df.head(10)

,class_A,class_B,open_price_A,current_price_A,update_time_A,open_price_B,current_price_B,update_time_B,open_price_margin,current_price_margin,position
0,BELFA,BELFB,49.0,49.03,8141500,49.619999,50.68,8141729,0.619999,1.65,False
1,FOXA,FOX,34.599998,33.8,8141807,32.450001,31.12,8141641,2.149998,2.68,False

In [6]:
type(df["current_price_A"][0])

float